@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
}

body{
    background: url("./asserts/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.logo{
    padding: 10px;
    position: fixed;
    z-index: 99;
}

.logo a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-forecast{
    height: 600px;
    width: 450px;
    padding: 15px;
    color:white;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 16px;
    border: 2px solid rgba(255, 255, 255, 0.3) ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.city-info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.temp{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.search-bar{
    width: 100%;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar input{
    width: 90%;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 20px;
}

#search-btn{
    cursor: pointer;
}

.wind-humidity{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.wind, .humidity{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

